*.gem
*.rbc
.bundle
.config
.yardoc
.agignore
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
node_modules
bower_components
lib/hn_history/public/js
lib/hn_history/public/css
