<html>
  <head>
    <link rel="stylesheet" href="/css/hn_history.css" />
  </head>
  <body>
    <div id="content">
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/react.js"></script>
    <script src="/js/reqwest.js"></script>
    <!-- <script src="/js/JSXTransformer.js"></script> -->
    <script src="/js/underscore.js"></script>
    <script src="/js/hn_history.js"></script>
    <script>
      React.renderComponent(
        Views.App(), document.querySelector('#content')
      );
    </script>
  </body>
</html>
