html {
  background: #f6f6f6;
}

div.entry_list {
  & > div {
    display: inline-block;
    vertical-align: top;

    div.entry {
      margin: 5px;
      padding: 5px;
      background: #e1e2e8;
    }
  }
}

a {
  color: #000000;
  &:hover {
    text-decoration: none;
  }
}
