html {
  background: #f6f6f6;
}

div.photo_list {
  & > * {
    width: 33%;
    display: inline-block;
  }
  & > *:last-child {
    text-align: right;
  }
  & > *:nth-child(2) {
    text-align: center;
  }
}

div.entry_list {
  & > div {
    display: inline-block;
    vertical-align: top;

    div.entry {
      margin: 5px;
      padding: 5px;
      background: #e1e2e8;
    }
  }
}

a {
  color: #000000;
  &:hover {
    text-decoration: none;
  }
}
